<library path="wearable_robot_rqt_plugins">
  <class name="ActuatorControlPlugin" type="wearable_robot_rqt_plugins.actuator_control_plugin.ActuatorControlPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      웨어러블 로봇의 구동기 제어 및 온도 모니터링을 위한 rqt 플러그인
    </description>
    <qtgui>
      <group>
        <label>웨어러블 로봇</label>
        <icon type="theme">folder</icon>
        <statustip>웨어러블 로봇 관련 플러그인</statustip>
      </group>
      <label>구동기 제어</label>
      <icon type="theme">preferences-system-power</icon>
      <statustip>구동기 제어 및 온도 모니터링 플러그인</statustip>
    </qtgui>
  </class>

  <class name="WaistControlPlugin" type="wearable_robot_rqt_plugins.waist_control_plugin.WaistControlPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      웨어러블 로봇의 구동기 제어 및 온도 모니터링을 위한 rqt 플러그인
    </description>
    <qtgui>
      <group>
        <label>웨어러블 로봇</label>
        <icon type="theme">folder</icon>
        <statustip>웨어러블 로봇 관련 플러그인</statustip>
      </group>
      <label>구동기 제어</label>
      <icon type="theme">preferences-system-power</icon>
      <statustip>허리 보조 로봇 제어 및 모니터링 플러그인</statustip>
    </qtgui>
  </class>
</library>

